
body {
  background-image: url('https://htmlcolorcodes.com/assets/images/colors/light-green-color-solid-background-1920x1080.png')
}

#registrationDiv{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  width: 25%;
  border-radius: 25px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  border-radius: 10px;
}

#registrationH2 {
  margin-bottom: 50px;
}

.registrationInput {
  margin: 20px;
  border-radius: 5px;
  width: 75%;
}

#registrationButton {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#registrationButton:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

#registrationButton:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #registrationButton {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}